# Core functionality - changes here should be rare!
/src/app.py                   @kyxlvarez
/src/backend/database.py      @kyxlvarez
/src/backend/routers/auth.py  @kyxlvarez

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kyxlvarez
